In [2]:
import sqlite3
import pandas as pd

<H2> STORE TEXT DATABASE </H2>

In [19]:
# Create a SQL connection to our SQLite database
con = sqlite3.connect("C:\Challenge gold\projectgold\STORE_TEXT.db")

cur = con.cursor()

df = pd.read_sql_query('SELECT * FROM TEXT_DATA', con)
# Be sure to close the connection
con.close()
df

           Before        After
0  :) gellodfafaf  gellodfafaf
1      kwkwkwk \n      kwkwkwk

<h2> STORE TWEET DATABASE </h2>

In [21]:

# Create a SQL connection to our SQLite database
con = sqlite3.connect("C:\Challenge gold\projectgold\STORE_TWEET.db")

cur = con.cursor()

df = pd.read_sql_query('SELECT Tweet, Tweet_Clean FROM TWEET_DATA', con)
# Be sure to close the connection
con.close()
df

,Tweet,Tweet_Clean
0,- disaat semua cowok berusaha melacak perhatia...,disaat semua cowok berusaha melacak perhatian ...
1,RT USER: USER siapa yang telat ngasih tau elu?...,rt user user siapa yang telat ngasih tau elued...
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",41 kadang aku berfikir kenapa aku tetap percay...
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,user user aku itu aku ku tau matamu sipit tapi...
4,USER USER Kaum cebong kapir udah keliatan dong...,user user kaum cebong kapir udah keliatan dong...
...,...,...
13164,USER jangan asal ngomong ndasmu. congor lu yg ...,user jangan asal ngomong ndasmu congor lu yg s...
13165,USER Kasur mana enak kunyuk',user kasur mana enak kunyuk
13166,USER Hati hati bisu :( .g\n\nlagi bosan huft \...,user hati hati bisu lagi bosan huft
13167,USER USER USER USER Bom yang real mudah terdet...,user user user user bom yang real mudah terdet...
13168,"USER Mana situ ngasih("": itu cuma foto ya kuti...",user mana situ ngasih itu cuma foto ya kutil onta